{% extends 'main/base.html' %} {% block title %}View Page{% endblock %}
{% block content %}
    {% if user == diary.user or user.is_staff %}
    <h1 class="text-center">{{diary.diary_name}} </h1>
<h2>
        <div class="container">
  <div class="row">
    <div class="col text-center">
      {{diary.first_name}}
    </div>
    <div class="col text-center">
      {{diary.last_name}}
    </div>
  </div>
</div>
        </h2>

<h3>
        <div class="container">
  <div class="row">
    <div class="col text-left">
      {{diary.gender}}
    </div>
    <div class="col text-center">
      {{diary.age}}
    </div>
      <div class="col">
      {{diary.weight}}
    </div>
  </div>
</div>
        </h3>


    <table class="table table-striped table-hover">
<thead>
    <tr class="table-primary">
    <th>food_name</th>
    <th>Grams</th>
    <th>Energy</th>
    <th>Fat</th>
    <th>Carbohydrate</th>
    <th>Protein</th>
    <th>Fiber</th>
    <th>Sugars</th>
    <th>sodium</th>
    <th>Delete</th>
</tr>
</thead>
<tbody>
    {% for elem in data %}
    <tr>
        <td>{{ elem.food_name }}</td>
        <td>{{ elem.Grams }}</td>
        <td>{{ elem.Energy }}</td>
        <td>{{ elem.Fat }}</td>
        <td>{{ elem.Carbohydrate }}</td>
        <td>{{ elem.Protein }}</td>
        <td>{{ elem.Fiber }}</td>
        <td>{{ elem.Sugars }}</td>
        <td>{{ elem.Sodium }}</td>
        <td>
             <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" name="delete-note" value="{{elem.id}}"> Delete
            </button>
                 </form>
        </td>
    </tr>
{% endfor %}
</tbody>
    </table>
<a href="/add_food_note/{{ diary.id }}" class="btn btn-primary">Add Records </a>
<p>
{% endif %}
<button onclick="history.back()">Go Back</button>
</p>
{% endblock %}


